@import "{{ site.theme }}";

.site-title {
  display: inline-flex;
  align-items: center;
}
.site-title::before {
  content: "";
  display: inline-block;
  background-image: url("/assets/images/logo.png");
  background-size: contain;
  width: 40px;
  height: 40px;
  margin-right: 12px;
}
